<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <span class="logo" routerLink="/">Neural Dissagregation</span>
      <ul class="links">
        <li class="link">
          <button
            mat-icon-button
            color="primary"
            aria-label="Home link"
            routerLink=""
          >
            <mat-icon>home</mat-icon>
          </button>
        </li>
        <li class="link">
          <button
            mat-raised-button
            color="primary"
            aria-label="Go to plots section"
            routerLink="/plot"
          >
            Plot
          </button>
        </li>
        <li class="link">
          <button
            mat-raised-button
            color="secondary"
            aria-label="Go to plots section"
            routerLink="/about"
          >
            About
          </button>
        </li>
      </ul>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
